.mainSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.linkNewCocktail,
.linkChooseCocktail,
.linkTopCocktails {
    background-color: white;
    width: 30rem;
    border-radius: 3rem;
    margin: 1rem;
}

.linkText {
    background-color: white;
    color: rgb(50, 50, 50);
    font-size: 1.2em;
}