.goBack {
    width: 5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 auto;
}

/* input {
    text-align: left;
    padding: 1rem;
} */


div,
p {
    text-shadow: 1px 1px 1px #FFF;
}


form {
    padding: 16px;
    width: 16px*20;
    margin: 0 auto;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 16px*20;
    padding: 16px;
    background-color: white;
    text-shadow: 1px 1px 0 white;
}

label {
    display: block;
    margin-bottom: 16px*1.5;
    width: 100%;
}

input {
    margin-right: 16px/2;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

}

button {
    background-color: #FCC6FD;
    color: black;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}